*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  width: 1140px;
  height: 800px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-self: flex-start;
  gap: 30px;
  align-content: center;
}

.result {
  height: 456px;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.result__video-container {
  padding-top: 39px;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 14px;
  object-fit: cover;
  object-position: center;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 534px;
  gap: 26px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-container {
  position: relative;
  max-height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-self: end;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 196px;
  gap: 6px;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  line-height: 100%;
  margin-bottom: 2px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: bold;
  line-height: 94%;
  text-transform: uppercase;
  color: #fff;
}

.content__accent {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: bold;
  line-height: 94%;
  text-transform: uppercase;
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
  height: 30px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-spacing: -2px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

input {
  border: none;
}

input[type="text"] {
  font-size: 18px;
  font-family: "Fira Sans Condensed", sans-serif;
  line-height: 100%;
  font-weight: 400;
  width: 225px;
  height: 25px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  appearance: none;
  cursor: pointer;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__textfield::placeholder {
  color: rgb(255, 255, 255 / 0.7);
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.search-form__checkbox:checked ~ .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  font-family: "Fira Sans Condensed", sans-serif;
  cursor: pointer;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  margin-top: 17px;
}

.more-button {
  width: 100%;
  min-height: 34px;
}

button:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.content__video-card:hover {
  text-decoration: underline;
  text-underline-offset: 1px;
  text-decoration-thickness: 2px;
}

.content__video-card:focus {
  outline: none;
}

.content__video-card:focus-visible {
  border: 1px solid #fff;
}
.content__list-item {
  padding: 0px 3px 0px;
}

.search-form__label-text:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.button:active {
  background-color: #545050;
}

.search-form__checkbox:active ~ .search-form__pseudo-checkbox {
  background-color: #fff;
}

.content__card-link_current {
  background-color: transparent;
}

.content__video-card:active {
  background-color: #545050;
}

.preloader {
  position: absolute;
}